#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Create_account_background {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=46) ;
  filter: alpha(opacity=46) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-password_input INPUT {
  font-family: Arial;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-reenterpassword_input INPUT {
  font-family: Arial;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3bebf7a7-5cf0-459f-90a1-dc47dcfca0d7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}